# Function and Stored Procedure
本筆記旨在以範例說明 Function 和 Stored Procedure 的用法，詳細語法請務必參閱使用者手冊。<br/>
Function 可能會使用通用中譯「函數」；Stored Procedure 尚未有共識中譯，會採用「SP」縮寫，或「程序函數」。

## 版權＆說明
本筆記由 [PostgreSQL 台灣使用者社群](https://postgresql.tw)提供，採 [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/deed.zh_TW) 授權。

協作專案：[Jupyter notebook for PostgreSQL](https://postgresql.tw/notebook/)

- 第一次操作請先閱讀專案首頁說明。
- 每一次閱讀都要先執行前兩個步驟，以確定有連線到你的資料庫系統。

---

開始囉！
以下指令需要依序執行以達到說明的原始效果唷。
建議第二次閱讀再自行嘗試不同的執行方式。

In [1]:
# 載入 sql 延伸套件，每次都必須執行才能使用後續互動功能。
%load_ext sql

In [2]:
# 建立資料庫連線，請確認連線參數是否正確
# 本範例過程會真實影響資料庫內容，建議使用臨時性資料庫操作
%sql postgresql://postgres:123456@localhost/postgres

'Connected: postgres@postgres'

**由於 Stored Procedure 功能在 PostgreSQL 11 之後才加入，故請執行下面指令檢查你的資料庫版本，以確保後續範例可以正常操作。**

In [3]:
%sql SELECT version()

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[('PostgreSQL 11.5 (Debian 11.5-3sid2) on x86_64-pc-linux-gnu, compiled by gcc (Debian 9.2.1-8) 9.2.1 20190909, 64-bit',)]

## Function（函數）

### 內建函數

In [4]:
%sql select now(); -- 日期處理

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(datetime.datetime(2019, 11, 27, 9, 53, 13, 390589, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=480, name=None)),)]

In [5]:
%sql select ascii('x'); -- 文字處理

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(120,)]

In [6]:
%sql select to_number('12,454.8', '99G999D9S'); -- 文字轉數值

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(Decimal('12454.8'),)]

### 建立你的第一個函數

In [7]:
%%sql
create function fun_exp1() 
returns integer as $$  
	select 1 as result;
$$ language sql;

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [8]:
# 你可以這樣呼叫它，當作欄位
%sql select fun_exp1()

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(1,)]

In [9]:
# 也可以這樣，視為資料表
%sql select * from fun_exp1()

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(1,)]

In [10]:
# 移除本段落產生的函數
%sql drop function fun_exp1

 * postgresql://postgres:***@localhost/postgres
Done.

[]

### 建立一個可以帶入參數的Function，以及預設值的處理

In [11]:
%%sql
create or replace function fun_exp2(x integer)
returns integer as $$
	select x;
$$ language sql;

 * postgresql://postgres:***@localhost/postgres
Done.

[]

In [12]:
# 嘗試不給參數會發生錯誤
%sql select fun_exp2();

 * postgresql://postgres:***@localhost/postgres
(psycopg2.errors.UndefinedFunction) function fun_exp2() does not exist
LINE 1: select fun_exp2();
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: select fun_exp2();]
(Background on this error at: http://sqlalche.me/e/f405)

In [13]:
# 嘗試給參數
%sql select fun_exp2(3);

 * postgresql://postgres:***@localhost/postgres
1 rows affected.

[(3,)]

In [14]:
# 移除本段落產生的函數
%sql drop function fun_exp2

 * postgresql://postgres:***@localhost/postgres
Done.

[]