# Function and Stored Procedure
本筆記旨在以範例說明 Function 和 Stored Procedure 的用法，詳細語法請務必參閱使用者手冊。<br/>
Function 可能會使用通用中譯「函數」；Stored Procedure 尚未有共識中譯，會採用「SP」縮寫，或「程序函數」。

## 版權＆說明
本筆記由 [PostgreSQL 台灣使用者社群](https://postgresql.tw)提供，採 [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/deed.zh_TW) 授權。

協作專案：[Jupyter notebook for PostgreSQL](https://postgresql.tw/notebook/)

- 第一次操作請先閱讀專案首頁說明。
- 每一次閱讀都要先執行前兩個步驟，以確定有連線到你的資料庫系統。

---

開始囉！
以下指令需要依序執行以達到說明的原始效果唷。
建議第二次閱讀再自行嘗試不同的執行方式。

In [ ]:
# 載入 sql 延伸套件，每次都必須執行才能使用後續互動功能。
%load_ext sql

In [ ]:
# 建立資料庫連線，請確認連線參數是否正確
# 本範例過程會真實影響資料庫內容，建議使用臨時性資料庫操作
%sql postgresql://postgres:123456@localhost/postgres

**由於 Stored Procedure 功能在 PostgreSQL 11 之後才加入，故請執行下面指令檢查你的資料庫版本，以確保後續範例可以正常操作。**

In [ ]:
%sql SELECT version()

## Function（函數）

### 內建函數

In [ ]:
%sql SELECT now(); -- 日期處理

In [ ]:
%sql SELECT ascii('x'); -- 文字處理

In [ ]:
%sql SELECT to_number('12,454.8', '99G999D9S'); -- 文字轉數值

### Function - 建立你的第一個函數

In [ ]:
%%sql
CREATE FUNCTION fun_exp1() 
returns integer as $$  
	select 1 as result;
$$ LANGUAGE sql;

In [ ]:
# 你可以這樣呼叫它，當作欄位
%sql select fun_exp1()

In [ ]:
# 也可以這樣，視為資料表
%sql select * from fun_exp1()

In [ ]:
# 移除本段落產生的函數
%sql drop function fun_exp1

### Function - 建立一個可以帶入參數的Function，以及預設值的處理

In [ ]:
%%sql
create or replace function fun_exp2(x integer)
returns integer as $$
	select x;
$$ language sql;

In [ ]:
# 嘗試不給參數會發生錯誤
%sql select fun_exp2();

In [ ]:
# 嘗試給參數
%sql select fun_exp2(3);

In [ ]:
# 移除本段落產生的函數
%sql drop function fun_exp2

### Function - 參數的多載
同名異式，可以根據業務需求分配相同名稱但不同參數的function

In [ ]:
%%sql
-- 單一參數
create or replace function fun_exp1(x int) 
returns integer as $$
	select x as result;
$$ language sql;

-- 兩個參數
create or replace function fun_exp1(x int, y int) 
returns integer as $$
	select x * y as result;
$$ language sql;

-- 三個參數
create or replace function fun_exp1(x int, y int, z int) 
returns integer as $$
	select x * y * z as result;
$$ language sql;

嘗試呼叫

In [ ]:
%sql select fun_exp1(1);

In [ ]:
%sql select fun_exp1(1,2);

In [ ]:
%sql select fun_exp1(1,2,3);

In [ ]:
# 移除本段落產生的函數，多載函數只指定名稱時會出錯
%sql drop function fun_exp1

In [ ]:
# 加入原宣告形式才能確定是要移除哪一個函數
%sql DROP FUNCTION fun_exp1(x int)

In [ ]:
# 在一個指令中列舉要移除的函數
%sql DROP FUNCTION fun_exp1(x int, y int), fun_exp1(x int, y int, z int)

### Function - 參數預設值與賦值

In [ ]:
%%sql
-- 可以指定特定順序的參數給定數值
create or replace function fun_exp3(x integer default 0, y integer default 0)
returns integer as $$
	select x - y;
$$ language sql;

In [ ]:
%sql select fun_exp3(1); -- 預設值

In [ ]:
%sql select fun_exp3(y:=1); -- 賦值

In [ ]:
# 移除本段落產生的函數
%sql drop function fun_exp3

### Function - 回傳資料表（Table）

In [ ]:
%%sql
create or replace function fun_exp4()
returns table(title varchar, pid int) as $$
	select 'your-product',1;
$$ language sql;

In [ ]:
# 回傳值
%sql select fun_exp4();

In [ ]:
# 回傳資料表
%sql select * from fun_exp4();

In [ ]:
# 移除本段落產生的函數
%sql drop function fun_exp4

### Function - PLSQL宣告函數

In [ ]:
%%sql
create or replace function fun_exp5(a int, b int)
returns int as $$
begin
		return a + b;
end; $$
language plpgsql;

In [ ]:
%sql select fun_exp5(1,100);

### Function - 綜合範例 - 依客人等級來計算折扣

In [ ]:
%%sql
/*客人資料表*/
drop table if exists exp_cust_tab;
create table exp_cust_tab(cid int, cname varchar, clevel varchar, cmemo varchar);
insert into exp_cust_tab
values
	(1, '王小明', 'A', '常客'),
	(2, '詹小傑', 'B', '偶爾來'),
	(3, '陳曉娟', 'C', '態度惡劣'),
	(4, '林阿胡', 'D', '新客人，不明');

In [ ]:
# 檢查客人資料表內容
%sql select * from exp_cust_tab;

#### Function - 流程控制與變數宣告 - 依條件給予客人折扣

In [ ]:
%%sql
create or replace function fun_exp6(cust_type varchar, amt int)
returns float as $$
declare price float;
begin
	price :=amt;
	if cust_type='A' then
		price := price * 0.7;
	elsif cust_type='B' then
		price := price * 0.85;
	elsif cust_type='C' then
		price := price * 1.0;
	else
		price :=9999999;
	end if;
	return price;
end;
$$ language plpgsql;

In [ ]:
%sql select fun_exp6('B',100);
# Function可以埋入基礎重點的商業邏輯
# 輔助軟體需求上的開發與維護

In [ ]:
# 移除本段落產生的函數及資料表
%sql drop function fun_exp6
%sql drop table exp_cust_tab